body
{
 margin: 0;
 padding: 0;
}

#bodymenu
{
    min-width: 300px;
    max-height: 20000px;
}

#bloc_acceuil
{
    position: absolute;
    top: 0px;
    background-color: white;
    min-width: 260px;
}

/* O P A C I T E   P A G E   L O A D I N G */

#bloc_acceuil {
    
    animation: transitionIn 4s;
}

@keyframes transitionIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* L O A D I N G */ 

.loading-spinner
{
    display: flex;
    justify-content: center;
    position: relative;
    top: 420px;
}

.loading {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .loading::before {
    content: "";
    display: flex;
    justify-content: center;
    width: 54px;
    height: 54px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: $primary transparent $primary transparent;
    animation: dual-ring 3.9s;
  }

  @keyframes dual-ring {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }

    20%{
        opacity: 1;
    }

    40%{
        opacity: 1;
    }

    60%{
        opacity: 1;
    }

    80%{
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        transform: rotate(360deg);
    }
}
